(
    cells: [
    // Понедельник
        (
            subject: Practice(Biologia),
            place: "НК-246",
            day: Regular(Second),
            para: First,
            odd: true,
            groups_allowed: [Second(A), Second(B)],
        ),
        (
            subject: Practice(Biologia),
            place: "НК-246",
            day: Regular(Second),
            para: Second,
            odd: true,
            groups_allowed: [Second(A), Second(B)],
        ),
        (
            subject: Practice(Biologia),
            place: "НК-246",
            day: Regular(Second),
            para: First,
            odd: false,
            groups_allowed: [Second(A), Second(B)],
        ),
    // Среда
        (
            subject: Lection(Biologia),
            place: "НК-424",
            day: Regular(Third),
            para: Third,
            odd: false,
            groups_allowed: [First(A), First(B), Second(A), Second(B)],
        ),
        (
            subject: Lection(Biologia),
            place: "НК-424",
            day: Regular(Third),
            para: Third,
            odd: true,
            groups_allowed: [First(A), First(B), Second(A), Second(B)],
        ),
    // Пятница
        (
            subject: Practice(Biologia),
            place: "НК-246",
            day: Regular(Five),
            para: Third,
            odd: true,
            groups_allowed: [First(A), First(B)],
        ),
        (
            subject: Practice(Biologia),
            place: "НК-246",
            day: Regular(Five),
            para: Four,
            odd: true,
            groups_allowed: [First(A), First(B)],
        ),
        (
            subject: Practice(Biologia),
            place: "НК-246",
            day: Regular(Five),
            para: Third,
            odd: false,
            groups_allowed: [First(A), First(B)],
        ),
    ],
)
