(
    cells: [
    // Среда
        (
            subject: Practice(DeviceAndFunction),
            place: "НК-303",
            day: Regular(Third),
            para: Four,
            odd: true,
            groups_allowed: [First(B)],
        ),
        (
            subject: Practice(DeviceAndFunction),
            place: "НК-303",
            day: Regular(Third),
            para: Five,
            odd: true,
            groups_allowed: [First(B)],
        ),
        (
            subject: Practice(DeviceAndFunction),
            place: "НК-303",
            day: Regular(Third),
            para: Four,
            odd: false,
            groups_allowed: [First(A)],
        ),
        (
            subject: Practice(DeviceAndFunction),
            place: "НК-303",
            day: Regular(Third),
            para: Five,
            odd: false,
            groups_allowed: [First(A)],
        ),
    // Четверг
        (
            subject: Practice(DeviceAndFunction),
            place: "НК-307",
            day: Regular(Four),
            para: First,
            odd: true,
            groups_allowed: [Second(A)],
        ),
        (
            subject: Practice(DeviceAndFunction),
            place: "НК-307",
            day: Regular(Four),
            para: Second,
            odd: true,
            groups_allowed: [Second(A)],
        ),
        (
            subject: Practice(DeviceAndFunction),
            place: "НК-307",
            day: Regular(Four),
            para: First,
            odd: false,
            groups_allowed: [Second(B)],
        ),
        (
            subject: Practice(DeviceAndFunction),
            place: "НК-307",
            day: Regular(Four),
            para: Second,
            odd: false,
            groups_allowed: [Second(B)],
        ),
        (
            subject: Lection(DeviceAndFunction),
            place: "НК-424",
            day: Regular(Four),
            para: Third,
            odd: false,
            groups_allowed: [First(A), First(B), Second(A), Second(B)],
        ),
    ],
)
