(
    cells: [
    // среда
        (
            subject: Practice(English),
            place: "Д-232",
            day: Regular(Third),
            para: Four,
            odd: false,
            group_allowed: Second(B),
        ),
        (
            subject: Practice(English),
            place: "Д-232",
            day: Regular(Third),
            para: Five,
            odd: false,
            group_allowed: Second(B),
        ),
    // Четверг
        (
            subject: Practice(English),
            place: "ВСТ-210",
            day: Regular(Four),
            para: First,
            odd: false,
            group_allowed: First(A),
        ),
        (
            subject: Practice(English),
            place: "ВСТ-210",
            day: Regular(Four),
            para: Second,
            odd: false,
            group_allowed: First(A),
        ),
        (
            subject: Practice(English),
            place: "Д-233",
            day: Regular(Four),
            para: Second,
            odd: true,
            group_allowed: First(B),
        ),
        (
            subject: Practice(English),
            place: "ВСТ-210",
            day: Regular(Four),
            para: Second,
            odd: true,
            group_allowed: Second(B),
        ),
        (
            subject: Practice(English),
            place: "Д-404",
            day: Regular(Four),
            para: Four,
            odd: true,
            group_allowed: First(B),
        ),
        (
            subject: Practice(English),
            place: "Д-233",
            day: Regular(Four),
            para: Four,
            odd: true,
            group_allowed: First(A),
        ),
        (
            subject: Practice(English),
            place: "ВСТ-210",
            day: Regular(Four),
            para: Four,
            odd: false,
            group_allowed: First(B),
        ),
        (
            subject: Practice(English),
            place: "ВСТ-104",
            day: Regular(Four),
            para: Five,
            odd: false,
            group_allowed: Second(A),
        ),
        // Пятница
        (
            subject: Practice(English),
            place: "Д-233",
            day: Regular(Five),
            para: Third,
            odd: true,
            group_allowed: Second(A),
        ),
        (
            subject: Practice(English),
            place: "Д-233",
            day: Regular(Five),
            para: Four,
            odd: true,
            group_allowed: Second(A),
        ),
    ],
)
