(
    cells: [
    // Понедельник
        (
            subject: Lection(MathAnalyz),
            place: "Н-130",
            day: Regular(First),
            para: Third,
            odd: true,
            groups_allowed: [First(A), First(B), Second(A), Second(B)],
        ),
        (
            subject: Lection(MathAnalyz),
            place: "Н-130",
            day: Regular(First),
            para: Third,
            odd: false,
            groups_allowed: [First(A), First(B), Second(A), Second(B)],
        ),
        (
            subject: Lection(MathAnalyz),
            place: "Н-307",
            day: Regular(First),
            para: Five,
            odd: false,
            groups_allowed: [First(A), First(B)],
        ),
    // Вторник
        (
            subject: Lection(MathAnalyz),
            place: "Н-303",
            day: Regular(Second),
            para: First,
            odd: true,
            groups_allowed: [First(A), First(B)],
        ),
        (
            subject: Lection(MathAnalyz),
            place: "Н-303",
            day: Regular(Second),
            para: First,
            odd: false,
            groups_allowed: [Second(A), Second(B)],
        ),
        (
            subject: Lection(MathAnalyz),
            place: "Н-303",
            day: Regular(Second),
            para: Second,
            odd: true,
            groups_allowed: [First(A), First(B)],
        ),
        (
            subject: Lection(MathAnalyz),
            place: "Н-303",
            day: Regular(Second),
            para: Second,
            odd: false,
            groups_allowed: [Second(A), Second(B)],
        ),
    // Пятница
        (
            subject: Lection(MathAnalyz),
            place: "Н-306",
            day: Regular(Five),
            para: First,
            odd: true,
            groups_allowed: [Second(A), Second(B)],
        ),
    ],
)
