(
    cells: [
    // Понедельник
        (
            subject: Practice(OfficeAndTechnology),
            place: "НК-301",
            day: Regular(First),
            para: First,
            odd: true,
            groups_allowed: [Second(B)],
        ),
        (
            subject: Practice(OfficeAndTechnology),
            place: "НК-307",
            day: Regular(First),
            para: First,
            odd: false,
            groups_allowed: [Second(B)],
        ),
        // До 02.11
        (
            subject: Practice(OfficeAndTechnology),
            place: "НК-419",
            day: Regular(First),
            para: Six,
            groups_allowed: [First(A)],
            end_at: Some("2025-02-11"),
        ),
        // До 02.11
        (
            subject: Practice(OfficeAndTechnology),
            place: "НК-419",
            day: Regular(First),
            para: Six,
            odd: true,
            groups_allowed: [First(A)],
            end_at: Some("2025-02-11"),
        ),
    // Вторник
        (
            subject: Practice(OfficeAndTechnology),
            place: "НК-307",
            day: Regular(Second),
            para: Four,
            groups_allowed: [First(B)],
        ),
        (
            subject: Practice(OfficeAndTechnology),
            place: "НК-307",
            day: Regular(Second),
            para: Five,
            groups_allowed: [First(B)],
        ),
        (
            subject: Practice(OfficeAndTechnology),
            place: "НК-307",
            day: Regular(Second),
            para: Six,
            start_at: Some("2025-10-11"),
            group_allowed: First(A),
        ),
    // Среда
        // до 18.10
        (
            subject: Practice(OfficeAndTechnology),
            place: "НК-302",
            day: Regular(Third),
            para: First,
            odd: true,
            end_at: Some("2025-10-18"),

            groups_allowed: [Second(A)],
        ),
        (
            subject: Practice(OfficeAndTechnology),
            place: "НК-301",
            day: Regular(Third),
            para: Six,
            odd: true,
            start_at: Some("2025-10-27"),
            groups_allowed: [Second(A)],
        ),
        // c 10.11
        (
            subject: Practice(OfficeAndTechnology),
            place: "НК-307",
            day: Regular(Third),
            para: Six,
            start_at: Some("2025-11-10"),
            groups_allowed: [First(A)],
        ),
    // Четверг
        (
            subject: Lection(OfficeAndTechnology),
            place: "A-3",
            day: Regular(Four),
            para: Third,
            odd: true,
            groups_allowed: [First(A), First(B), Second(A), Second(B)],
        ),
        (
            subject: Practice(OfficeAndTechnology),
            place: "НК-303",
            day: Regular(Four),
            para: Six,
            odd: false,
            groups_allowed: [Second(A)],
        ),
    // Суббота
    ],
)
