(
    cells: [
    // Понедельник
        (
            subject: Practice(OfficeAndTechnology),
            place: "НК-301",
            day: Regular(First),
            para: First,
            odd: true,
            groups_allowed: [Second(B)],
        ),
        (
            subject: Practice(OfficeAndTechnology),
            place: "НК-307",
            day: Regular(First),
            para: First,
            odd: false,
            groups_allowed: [Second(B)],
        ),
        // До 02.11
        (
            subject: Practice(OfficeAndTechnology),
            place: "НК-419",
            day: Regular(First),
            para: Six,
            odd: false,
            groups_allowed: [First(A)],
        ),
        // До 02.11
        (
            subject: Practice(OfficeAndTechnology),
            place: "НК-419",
            day: Regular(First),
            para: Six,
            odd: true,
            groups_allowed: [First(A)],
        ),
    // Вторник
        (
            subject: Practice(OfficeAndTechnology),
            place: "НК-307",
            day: Regular(Second),
            para: Four,
            odd: false,
            groups_allowed: [First(B)],
        ),
        (
            subject: Practice(OfficeAndTechnology),
            place: "НК-307",
            day: Regular(Second),
            para: Five,
            odd: false,
            groups_allowed: [First(B)],
        ),
        // Та что-то для 1A, но я хз что там за число. Месяц 11 понятно, а день...
    // Среда
        // до 18.10
        (
            subject: Practice(OfficeAndTechnology),
            place: "НК-302",
            day: Regular(Third),
            para: First,
            odd: true,
            groups_allowed: [Second(A)],
        ),
        // c 27.10
        // (
        //     subject: Practice(OfficeAndTechnology),
        //     place: "НК-302",
        //     day: Regular(Third),
        //     para: Six,
        //     odd: true,
        //     groups_allowed: [Second(A)],
        // ),
        // c 10.11
        // (
        //     subject: Practice(OfficeAndTechnology),
        //     place: "НК-302",
        //     day: Regular(Third),
        //     para: Six,
        //     odd: true,
        //     groups_allowed: [First(A)],
        // ),
    // Четверг
        (
            subject: Lection(OfficeAndTechnology),
            place: "A-3",
            day: Regular(Four),
            para: Third,
            odd: true,
            groups_allowed: [First(A), First(B), Second(A), Second(B)],
        ),
        (
            subject: Practice(OfficeAndTechnology),
            place: "НК-303",
            day: Regular(Four),
            para: Six,
            odd: false,
            groups_allowed: [Second(A)],
        ),
    // Суббота
    ],
)
