(
    cells: [
    // Понедельник
        (
            subject: Practice(Programming),
            place: "НК-303",
            day: Regular(First),
            para: First,
            odd: true,
            groups_allowed: [First(A)],
        ),
        (
            subject: Practice(Programming),
            place: "НК-303",
            day: Regular(First),
            para: First,
            odd: false,
            groups_allowed: [First(B)],
        ),
    // Вторник
        (
            subject: Practice(Programming),
            place: "НК-303",
            day: Regular(Second),
            para: First,
            odd: true,
            groups_allowed: [First(B)],
        ),
        (
            subject: Practice(Programming),
            place: "НК-303",
            day: Regular(Second),
            para: First,
            odd: false,
            groups_allowed: [First(A)],
        ),
        (
            subject: Practice(Programming),
            place: "НК-303",
            day: Regular(Second),
            para: Second,
            odd: true,
            groups_allowed: [First(B)],
        ),
        (
            subject: Practice(Programming),
            place: "НК-303",
            day: Regular(Second),
            para: Second,
            odd: false,
            groups_allowed: [First(A)],
        ),
    // Среда
        // до 18.10
        (
            subject: Practice(Programming),
            place: "НК-303",
            day: Regular(Third),
            para: First,
            odd: true,
            groups_allowed: [Second(B)],
            end_at: Some("2025-10-18"),
        ),
        // до 18.10
        (
            subject: Practice(Programming),
            place: "НК-303",
            day: Regular(Third),
            para: First,
            odd: false,
            groups_allowed: [Second(B)],
            end_at: Some("2025-10-18"),
        ),
        (
            subject: Lection(Programming),
            place: "НК-424",
            day: Regular(Third),
            para: Second,
            odd: true,
            groups_allowed: [First(A), First(B), Second(A), Second(B)],
        ),
        // Для всех кроме 2Б
        (
            subject: Lection(Programming),
            place: "НК-424",
            day: Regular(Third),
            para: Second,
            groups_allowed: [First(A), First(B), Second(A)],
        ),
        // 2Б особенная, для них отдельно
        (
            subject: Lection(Programming),
            place: "НК-303",
            day: Regular(Third),
            para: Second,
            start_at: Some("2025-10-20"),
            groups_allowed: [Second(B)],
        ),
        (
            subject: Lection(Programming),
            place: "НК-303",
            day: Regular(Third),
            para: Third,
            start_at: Some("2025-10-20"),
            groups_allowed: [Second(B)],
        ),
    // Четверг
        (
            subject: Practice(Programming),
            place: "НК-303",
            day: Regular(Four),
            para: First,
            odd: true,
            groups_allowed: [Second(B)],
        ),
    // Пятница
        (
            subject: Practice(Programming),
            place: "НК-301",
            day: Regular(Five),
            para: First,
            odd: true,
            groups_allowed: [Second(A)],
        ),
        (
            subject: Practice(Programming),
            place: "НК-301",
            day: Regular(Five),
            para: Second,
            odd: true,
            groups_allowed: [Second(A)],
        ),
        (
            subject: Practice(Programming),
            place: "НК-301",
            day: Regular(Five),
            para: Second,
            odd: false,
            groups_allowed: [Second(A)],
        ),
    ],
)
