(
    cells: [
    // Вторник
        (
            subject: Practice(Project),
            place: "НК-323",
            day: Regular(Second),
            para: Third,
            odd: true,
            groups_allowed: [First(A), First(B)],
        ),
        (
            subject: Practice(Project),
            place: "НК-323",
            day: Regular(Second),
            para: Third,
            odd: false,
            groups_allowed: [First(A), First(B)],
        ),
        // Там лекция будет 04.11
    // Четверг
        (
            subject: Practice(Project),
            place: "НК-328",
            day: Regular(Four),
            para: Four,
            odd: false,
            groups_allowed: [Second(A), Second(B)],
        ),
    // Пятница
        (
            subject: Practice(Project),
            place: "НК-328",
            day: Regular(Five),
            para: Second,
            odd: true,
            groups_allowed: [Second(A), Second(B)],
        ),
    ],
)
