(
    cells: [
        (
            subject: Practice(Sport),
            place: "СПЗ",
            day: Regular(First),
            para: Four,
            odd: true,
            groups_allowed: [First(A), First(B), Second(A), Second(B)],
        ),
        (
            subject: Practice(Sport),
            place: "СПЗ",
            day: Regular(First),
            para: Four,
            odd: false,
            groups_allowed: [First(A), First(B), Second(A), Second(B)],
        ),
    ],
)
